<form [ngFormModel]="form" (ngSubmit)="onFormSubmit()">
    <div class="form-group form-wrapper">
        <div>
            <label for="name">Current Password</label>
            <input 
                    id="currentPassword" 
                    class="form-control" 
                    type="password"
                    ngControl="currentPassword"
                    #currentPassword="ngForm"
                    >
        </div>
        <div *ngIf="currentPassword.touched && currentPassword.errors">
            <div *ngIf="currentPassword.errors.required" 
                 class="alert alert-danger">
                 Current password is required !
            </div>
            <div *ngIf="currentPassword.errors.badOldPassword"
             class="alert alert-danger">
                Old password is not correct.
            </div>
        </div>
        
       
        <div class="section-wrapper">
            <label for="">New Password</label>
            <input  type="password" 
                    id="newPassword" 
                    class="form-control"
                    ngControl="newpassword"
                    #newpassword="ngForm"
                    (change)="onNewPasswordChange(newpassword)"
                    >
        </div>
        <div *ngIf="newpassword.touched && newpassword.errors">
            <div *ngIf="newpassword.errors.required"
                 class="alert alert-danger">
                 New password is required !
            </div>
            <div *ngIf="newpassword.errors.minCharacterError"
                 class="alert alert-danger">
                    Password should be minimum of {{newpassword.errors.minCharacterError.expected}}.
            </div>
        </div>
       
        <div class="section-wrapper">
            <label for="">Confirm Password</label>
            <input  type="password" 
                    id="confirmPassword" 
                    class="form-control"
                    ngControl="confirmpassword"
                    #confirmpassword="ngForm"
                    (change)="onConfirmPasswordChange(confirmpassword)"
                    >
        </div>
       <div *ngIf="confirmpassword.touched && confirmpassword.errors">
            <div *ngIf="confirmpassword.errors.required"
                 class="alert alert-danger">
                Confirm password is required !
            </div>
            <div *ngIf="confirmpassword.errors.passwordMismatch"
                 class="alert alert-danger">
                 Password did not match.
            </div>
       </div>
        <div class="section-wrapper">
            <button class="btn btn-primary" id="btnSubmit" [disabled]="!form.valid" >Submit</button>
        </div>

    </div>
</form>